<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../assets/deer.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Contact</h5>
    <p class="card-text">Get at me, or don't, either way.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="github.com/jeffrileyjr">github.com/jeffrileyjr</a> </li>
    <li class="list-group-item"><a href="linkedin.com/jeffrileyjr">linkedin.com/jeffrileyjr</a> </li>
    <li class="list-group-item"><a href="instagram.com/jeffrileyjr">instagram.com/jeffrileyjr</a> </li>
  </ul>
</div>